NameVirtualHost *:80
{%- for vhost in apache_vhosts %}
    <VirtualHost *:80>
        ServerName {{ vhost.servername }}
        DocumentRoot {{ vhost.documentroot }}
        {%- if vhost.serveradmin %}
        ServerAdmin {{ vhost.serveradmin }}
        {% endif %}
        <Directory "/usr/local/httpd/htdocs">
            AllowOverride All
            Options Indexes FollowSymLinks
            Order allow,deny
            Allow from all
        </Directory>
    </VirtualHost>
{% endfor %}
